<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Blog!{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
        {% block stylesheets %}{% endblock %}
        {% stylesheets
            '@OrnjMarkdownBundle/Resources/public/css/*'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
        {% endstylesheets %}
        {% javascripts
            '@OrnjMarkdownBundle/Resources/public/js/markdown.js'
            '@OrnjMarkdownBundle/Resources/public/js/to-markdown.js'
            '@OrnjMarkdownBundle/Resources/public/js/bootbox.js'
            '@OrnjMarkdownBundle/Resources/public/js/bootstrap-markdown.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

    </head>
    <body>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Blog</a>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/about">O blogu</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if app.user %}
                {% if is_granted('ROLE_ADMIN') -%}
                <li><a href="/admin/">Panel administracyjny</a></li>
                {%- endif %}
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{app.user.username}} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/profile">Profil</a></li>
                    <li><a href="/profile/edit">Edytuj profil</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">Wyloguj się</a></li>
                  </ul>
                </li>
              {% else %}
              <li><a href="/login">Zaloguj się</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        </nav>
        
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
