{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h3>O blogu</h3>
        
        <p>Blog został zrealizowany w ramach projektu na zajęcia Tworzenia Aplikacji Internetowych.</p>
    </div>
{% endblock %}
