{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div id="welcome">
            <h1>Blog</h1>
        </div>

        <div id="next">
            <h2>Najnowsze posty</h2>
            {% for post in posts %}
              <hr>
              <h4>{{post.title}}</h4>
              <h5>dodano: {{post.date|date("m/d/Y")}}</h5>
              <p>{{post.content|markdown}}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
