{% extends 'admin/base.html.twig' %}

{% block admin_body %}
        <div>
            <div id="welcome">
                <h1>Panel administracyjny</h1>
            </div>

            <div id="next">
                <h2>Edytuj post</h2>
                {{form(form)}}
            </div>
        </div>
{% endblock %}
