{% extends 'admin/base.html.twig' %}

{% block admin_body %}
        <div>
            <div id="welcome">
                <h1>Panel administracyjny</h1>
            </div>

            <div> Wybierz akcję z panelu po lewej </div>
        </div>
{% endblock %}
