{% extends 'admin/base.html.twig' %}

{% block admin_body %}
<div>
  <h2>Posty</h2>
  <a href="/admin/posts/new"><button type="button" name="button" class="btn btn-primary">Dodaj nowy</button></a>
  <table class="table">
    <thead>
      
      <th>ID</th>
      <th>Nazwa</th>
    </thead>
    <tbody>
    {% for post in posts %}
    <tr>
      <td>{{post.id}}</td>
      <td>{{post.title}}</td>
      <td>
        <a href="/admin/posts/edit/{{post.id}}"><button type="button" name="button" class="btn btn-default">Edytuj</button></a>
        <a href="/admin/posts/delete/{{post.id}}"><button type="button" name="button" class="btn btn-danger">Usuń</button></a>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}