{% extends 'admin/base.html.twig' %}

{% block admin_body %}
<div>
  <h2>Użytkownicy</h2>
  <a href="/admin/users/new"><button type="button" name="button" class="btn btn-primary">Dodaj nowy</button></a>
  <table class="table">
    <thead>
      
      <th>ID</th>
      <th>Login</th>
      <th>E-mail</th>
      <th>Akcje</th>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td>
        <a href="/admin/users/edit/{{user.id}}"><button type="button" name="button" class="btn btn-default">Edytuj</button></a>
        <a href="/admin/users/delete/{{user.id}}"><button type="button" name="button" class="btn btn-danger">Usuń</button></a>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}