{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
  {% if error %}
      <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

  <form action="{{ path("fos_user_security_check") }}" method="post">
      {% if csrf_token %}
          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
      {% endif %}

      <div class="form-group">
            <label for="username" class="control-label">Nazwa użytkownika</label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" title="Wpisz nazwę użytkownika" />
            <span class="help-block"></span>
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Hasło</label>
            <input type="password" class="form-control" id="password" name="_password" required="required" title="Wpisz hasło">
            <span class="help-block"></span>
        </div>
        <div id="loginErrorMsg" class="alert alert-error hide">Zła nazwa użytkownika lub hasło</div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="_remember_me" id="remember_me"> Zapamiętaj mnie
            </label>
        </div>
        <button type="submit" id="_submit" class="btn btn-success btn-block">Zaloguj się</button>
        <br>
  </form>
  <a href="/register"><button class="btn btn-primary btn-block">Zarejestruj się</button></a>
</div>